Binaries
DerivedDataCache
Intermediate
Saved
Content\StarterContent
Content\Geometry
Content\Mannequin
Content\ThirdPerson
Content\ThirdPersonCPP
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Geometry/Meshes/CubeMaterial.uasset
Content/Geometry/
Content/Mannequin/
Content/StarterContent/
Content/ThirdPersonCPP/
Content/ThirdPerson/
